nav.nav
	ul.nav__list
		li.nav__list-element
			a.nav__link(href="/feed") home -
			a.nav__link(href="/recent") recent -
			a.nav__link(href="/create-post") CREATE -
			a.nav__link(href="/notifications") notifications -
			a.nav__link(href="/me") me -

