mixin postItem(post)
  li.section_post.post
    img.post__img.box-shadow(src=`${post.image}`,alt='post image',data-id=`${id}`)
  //- .post-list__stats-wrap
    .post-list__likes.post-list__likes--like=likesQuantity
    .post-list__likes.post-list__likes--comment=commentsQuantity