extends base

block content
  main.main.section.create-post
    form.create-post__form#add-post-form
      .create-post__wrapper
        input.section__input.create-post__input#description(name='description',placeholder='')
        label.create-post__label(for='description') Describe your img
     
      .create-post__wrapper
        input.create-post__input.create-post__input--file#image(type='file',accept='.jpg,.png,.jpeg')
        label.create-post__label-file(for="image") upload image
        span.create-post__upload-info#upload-info Image loaded
      
      button.create-post__send.section__button.section__button--background(type='submit') 
        span.create-post__post-txt= 'Post'
        i.im.im-paperplane