extends base
include _post

block content
  main.main.section.feed
    if posts.length>0
      ul.feed__posts-list
        each post in posts
          +postItem(post)
    else
      h1.feed__no-posts You don't follow anyone, so there are no posts there!
        