extends base

mixin userElement(obj)
  li
    a.follow-list__element(href=`/users/${obj.id}`)
      img.follow-list__img(src=`${obj.image}`, alt="user photo")
      span= obj.nick

block content
  main.main.section.follow-list
    ul.follow-list__list
    each user in users
      if follows
        +userElement(user.followed)
      else
        +userElement(user.user)

