extends base

mixin userElement(obj)
  li.follow-list__element
    img.follow-list__img(src=`${obj.image}`, alt="user photo")
    a(href=`/users/${obj.id}`)= obj.nick

block content
  main.main.section.follow-list
    ul.follow-list__list
    each user in users
      if follows
        +userElement(user.followed)
      else
        +userElement(user.user)

