extends base

block content 

  main.main.login-section.section
    h1.section__header Log In
    p.section__subtext Don't have an account? 
     a(href="#")  Sign in

    form.login-section__form
      input.section__input.section__input--email(type="text", placeholder='Nickname')
      input.section__input.section__input--password.box-shadow(type="password", placeholder='Password')
      button.section__button.section__button--background.login-section__button(type="submit") LOG IN