extends base

mixin nottfElement(obj)
  li.notff_list-element
    p.notff__name=obj.user

block content

  //- notff in order to short notification
  main.main.section.notf
    ul.notf__list
      each element in notifications 
        +nottfElement(element)
