extends base

mixin nottfElement(obj)
  li.notff_list-element
    a.notff__link(href=`posts/${obj.post}`)
      if obj.content
        p.notff__name.section__subtext #{obj.user.nick} commented your post!

      else 
        p.notff__name.section__subtext= `${obj.user.nick} reacted to your post with "${obj.reaction}"`

block content

  //- notff in order to short notification
  main.main.section.notf
    ul.notf__list
      each element in notifications 
        +nottfElement(element)
