.feed {
    // padding: 20px;

    &__posts-list {
        display: flex;
        // justify-content: space-between;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}