.follow-list {
    &__element {
        @include createCard;
        font-weight: bold;
        color: $color-red;
    }

    &__img {
        @include makeSquare($small-user-img);
        border-radius: 50%;
        margin: 0 10px;
    }
}