.login-section {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 40px;
    text-align: center;
    padding: 15vh 5vw;

    &__form {
        display: grid;
        row-gap: 20px;
        justify-items: center;
    }

    &__button {
        margin-top: 30px;
    }
}