.login-section {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 40px;
    text-align: center;

    &__form {
        display: grid;
        row-gap: 20px;
        justify-items: center;
    }

    &__button {
        margin-top: 30px;
    }

    &__change-link {
        color: $color-orange;
        font-weight: bold;
    }

    @media(min-width:1024px) {
        padding-top: 20vh;
    }
}