.section-me,
.me {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    row-gap: 10px;

    &__img-wrap {
        position: relative;
    }

    &__img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        position: relative;
    }

    &__header {
        font-size: 30px;
        @include createGradientText;
    }

    &__settings-link {}

    &__icon {
        -webkit-background-clip: border-box;
        -webkit-text-fill-color: $color-grey-dark;
        color: $color-grey-dark;
        margin-left: 10px;

    }

    &__stats,
    .stats {
        width: 100%;
        max-width: $post-size-768;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: 10px 0 20px;
        padding: 8px 30px;
        border-radius: 15px;
        text-transform: capitalize;

        &__li {
            padding: 0 8px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
        }

        &__num {
            font-weight: bold;
            -webkit-text-fill-color: unset;
        }
    }

    &__follow-btn {
        width: 100%;
        padding: 8px 30px;
        max-width: $post-size-1024;


    }

    &__post-list,
    .post-list {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-width: 90vw;

        &__img {
            width: 40vw;
            height: 40vw;
            object-fit: cover;
            border-radius: 10%;
            margin: 5px 10px;

        }
    }

    @media(min-width:1024px) {

        &__stats,
        .stats {
            max-width: none;
            width: $post-size-1024;
            justify-content: space-around;
        }
    }

    @media(min-width:1200px) {

        &__stats,
        .stats {
            width: $post-size-1200;
        }
    }

    @media(min-width:1400px) {

        &__stats,
        .stats {
            width: $post-size-1400;
        }
    }
}