.nav {
    height: $nav-height;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    @include createGradientBox;
    // background-color: $color-grey;
    // background-color: rgb(240, 240, 240);
    // padding: 10px;


    // background: linear-gradient(to right, $color-orange, $color-red);
    // background-color: $color-orange;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
    &__link {
        color: $color-white;
        -webkit-text-fill-color: unset;
        font-weight: normal;
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 100%;
    }

    &__list-element {
        background-color: #fff;
        border-radius: 20%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0 10px;


        box-shadow: 34px 34px 80px #8a8a8a,
            -34px -34px 80px #ffffff;

        @include makeSquare(38px);

        &--create {
            transform: scale(1.13);
            @include createGradientBox;

        }
    }

    &__icon {
        font-size: 16px;
        color: $color-grey-dark;

        // padding: 10px;

        &--home {
            padding-top: 7px;
        }

        &--search {
            padding-top: 8px;
        }

        &--create {
            padding-top: 8px;
            color: $color-red;
            color: $color-white;

        }
    }

    // @media(min-width:1200px) {
    //     top: 0;
    //     bottom: auto;
    // }
    @media(min-width:768px) {

        &__list {
            // max-width: 800px;
            justify-content: space-between;
            max-width: $post-size-768;
        }

        &__list-element {
            margin: 0;
        }
    }

    @media(min-width:1024px) {
        &__list {
            // max-width: 800px;
            max-width: $post-size-1024;
        }

        &__icon {
            font-size: 17px;
        }
    }

    @media(min-width:1200px) {
        &__list {
            // max-width: 800px;
            max-width: $post-size-1200;
        }
    }

    @media(min-width:1400px) {
        &__list {
            // max-width: 800px;
            max-width: $post-size-1400;
        }
    }

}