.recent {
    padding: 20px;

    &__posts-list {
        display: flex;
        // justify-content: space-between;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__search-btn {
        // margin-bottom: 40px;

    }

    &__search {
        text-align: center;
        margin-bottom: 10px;

    }

    &__search-wrap {
        box-shadow: 5px 5px 60px #e0e0e0,
            -5px -5px 60px #ffffff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 15px 0;
    }


}