.recent {
    padding: 20px;

    &__posts-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__search {
        text-align: center;
        margin-bottom: 10px;
    }

    &__search-wrap {
        box-shadow: 5px 5px 60px #e0e0e0,
            -5px -5px 60px #ffffff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 15px 0;
        margin: 0 auto;
    }

    @media(min-width:768px) {
        &__search-wrap {
            width: $post-size-768;
        }
    }

    @media(min-width:1024px) {
        &__search-wrap {
            width: $post-size-1024;
        }
    }

    @media(min-width:1200px) {
        &__search-wrap {
            width: $post-size-1200;
        }
    }

    @media(min-width:1400px) {
        &__search-wrap {
            width: $post-size-1400;
        }
    }
}