.section {
    padding: 35px 6vw calc(10px + #{$nav-height});
    width: 100%;

    &__header {
        font-size: 45px;
        color: $color-red;
        font-weight: bold;
        @include createGradientText;
    }


    &__input {
        background: $color-grey;
        color: $color-grey-dark;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 18px;
    }


    &__button {
        padding: 8px 30px;
        border-radius: 10px;
        color: $color-white;
        text-transform: uppercase;

        &--background {
            @include createGradientBox;
        }

        &.updating {
            opacity: 0.7;
        }
    }

    &__subtext {
        // width: $post-size;
        width: 100%;
        padding: 0 10px;
        text-align: center;

        @media(min-width:768px) {
            width: $post-size-768;
        }

        @media(min-width:1024px) {
            width: $post-size-1024;
        }

        @media(min-width:1200px) {
            width: $post-size-1200;
        }

        @media(min-width:1400px) {
            width: $post-size-1400;
        }
    }

    &__post,
    .post {
        display: grid;
        justify-items: center;
        width: $post-img-size;
        min-width: 55%;
        width: 300px;
        margin: 30px 0;

        &__user-data-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            -webkit-text-fill-color: $color-red;
            background-clip: unset;
            background: none;
            color: $color-red;
            font-weight: bold;
            width: 100%;
        }

        &__user-nick {
            -webkit-text-fill-color: inherit;

        }

        &__img {
            width: $post-img-size;
            height: $post-img-size;
            border-radius: 10%;
            align-self: center;
        }

        &__user-img {
            @include makeSquare(30px);
            border-radius: 50%;
            margin-right: 15px;
        }

        &__form {
            display: flex;
            width: 100%;
        }

        &__desc {
            text-align: left;
            width: 100%;
            margin: 10px 0;
            font-size: 16px;
        }

        &__reaction-add {
            cursor: pointer;
            padding: 5px;

            &.liked {
                .full {
                    display: block;
                }

                .empty {
                    display: none;
                }
            }

            &.not-liked {
                .full {
                    display: none;
                }

                .empty {
                    display: block;
                }
            }
        }

        &__love {
            &-full {
                color: $color-red;
            }

            &-empty {
                color: $color-grey-dark;
            }
        }

        &__input {
            background-color: $color-grey;
            border-radius: 6px;
            flex-grow: 1;
            width: 20px;
            padding-left: 10px;
        }

        &__comment-list {
            width: 100%;
            height: 150px;
            margin-bottom: 15px;
            overflow: scroll;
        }

        &__comment,
        .comment {
            display: grid;
            grid-template-areas: 'img text';
            grid-template-columns: auto 1fr;
            margin: 10px 0;
            padding: 8px 5px 5px 0;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 5px 5px 19px #f7f7f7,
                -5px -5px 19px #ffffff;

            &__user-photo {
                @include makeSquare($small-user-img);
                border-radius: 50%;
                margin: 0 10px 0 15px;
                grid-area: img;
            }

            &__content {
                grid-area: text;
                font-size: 14px;
                text-align: left;
            }

            &__user {
                font-weight: bold;
                color: $color-red;
            }

            &__no-coms {
                font-size: 14px;
                text-align: center;
                color: $color-red;
                font-weight: bold;

            }
        }

        &__send-btn {
            padding: 5px;
            cursor: pointer;
            margin-left: 3px;
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 7px;
        }

        &__send-icon {
            transform: scale(0.9);
        }

        &__comment-icon {
            margin-right: 4px;
        }

        &__stats-list,
        .stats-list {
            display: flex;
            width: 100%;
            margin: 7px 0;

            &__element {
                display: flex;
                align-content: center;
                align-items: center;
                margin-right: 25px;
            }
        }

        @media(min-width:768px) {
            width: $post-size-768;

            &__img {
                margin-right: auto;
                @include makeSquare($post-size-768);
            }

            &__desc {
                margin: 15px 0;
            }

            &__user-nick {
                margin-bottom: 10px;
            }
        }

        @media(min-width:1024px) {
            grid-template-areas:
                'img user-box'
                'img desc'
                'img stats'
                'img comments'
                'img add-comment';
            column-gap: 30px;
            width: $post-size-1024;
            max-height: 400px;
            grid-template-columns: auto 1fr;
            box-shadow: 20px 20px 40px #ededed,
                -20px -20px 40px #ffffff;
            padding: 15px 10px 15px 0;
            border-radius: 15px;
            overflow: hidden;

            &__img {
                grid-area: img;
                border-radius: 5%;
                width: $post-img-size-1024;
                height: 100%;
            }

            &__user-data-wrap {
                grid-area: user-box;
            }

            &__comment-list,
            .comment-list {
                grid-area: comments;
            }

            &__form {
                grid-area: add-comment;
            }

            &__desc {
                grid-area: desc;
            }

            &__stats-list {
                background: linear-gradient(145deg, #f5f5f5, #f8f8f8);
                padding: 6px;
                border-radius: 5px;
            }
        }

        @media(min-width:1200px) {
            width: $post-size-1200;

            &__img {
                @include makeSquare(350px);
            }
        }

        @media(min-width:1400px) {
            width: $post-size-1400;
            height: 430px;
            max-height: none;
            padding: 0 10px 25px 0;

            &__img {
                @include makeSquare(400px);
            }
        }

    }

}