.section {
    &__header {
        font-size: 45px;
        color: $color-red;
        font-weight: bold;
        @include createGradientText;

    }


    &__input {
        background: $color-grey;
        color: $color-grey-dark;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 18px;
    }


    &__subtext {
        // font-size: 18px;
    }

    &__button {
        padding: 8px 40px;
        border-radius: 10px;
        color: $color-white;
        // font-size: 0.8em;

        &--background {
            @include createGradientBox;
        }

    }

}