.section {
    padding: 35px 6vw calc(35px + #{$nav-height});
    width: 100%;

    &__header {
        font-size: 45px;
        color: $color-red;
        font-weight: bold;
        @include createGradientText;

    }


    &__input {
        background: $color-grey;
        color: $color-grey-dark;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 18px;
    }


    &__subtext {
        // font-size: 18px;
    }

    &__button {
        padding: 8px 40px;
        border-radius: 10px;
        color: $color-white;
        text-transform: uppercase;
        // font-size: 0.8em;

        &--background {
            @include createGradientBox;
        }

    }

    &__post,
    .post {
        display: grid;
        justify-items: center;
        max-width: 40vw;
        margin: 30px 0;

        &__img {
            width: 40vw;
            height: 40vw;
            border-radius: 10%;
        }

        &__form {
            display: flex;
            width: 100%;
        }

        &__reaction-add {
            cursor: pointer;
            padding: 5px;
            // flex-shrink: 3;

        }

        &__input {
            background-color: $color-grey;
            border-radius: 6px;
            flex-grow: 1;
            width: 20px;
        }

        &__send-btn {
            padding: 5px;
            cursor: pointer;
            margin-left: 3px;
        }

        &__stats-list,
        .stats-list {
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            &__element {
                display: flex;
                align-content: center;
                align-items: center;
            }
        }

        // &__stats-list-el {
        //     display: flex;
        //     align-content: center;
        //     align-items: center;
        // }
    }

}