// $background-white:#f2f3f7;
$color-white:#fff;
$color-orange:#f7924c;
$color-red:#e74366;
$color-grey:#f0f0f0;
$color-grey-dark:#9b9b9b;
$color-black:#525252;

$small-user-img:35px;
$post-img-size:270px;
$post-img-size-medium:300px;
$post-size-medium:550px;
$nav-height:60px;

@mixin createGradientBox {
    background: linear-gradient(to left, $color-orange, $color-red);
    -webkit-text-fill-color: unset;

}

@mixin createGradientText {
    background: -webkit-linear-gradient($color-orange, $color-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin makeSquare($a) {
    width: $a;
    height: $a;
}

@mixin createCard {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 5px 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 60px #e0e0e0,
        -5px -5px 60px #ffffff;
    font-size: 16px;
}