// $background-white:#f2f3f7;
$color-white:#fff;
$color-orange:#f7924c;
$color-red:#e74366;
$color-grey:#f0f0f0;
$color-grey-dark:#8a8a8a;
$color-black:#525252;

$nav-height:35px;

@mixin createGradientBox {
    background: linear-gradient(to left, $color-orange, $color-red);
    -webkit-text-fill-color: unset;

}

@mixin createGradientText {
    background: -webkit-linear-gradient($color-orange, $color-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}