@import './variables';
@import './section';
@import './nav';

.test {
    color: red;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.box-shadow {
    box-shadow: 21px 21px 59px #ececec,
        -21px -21px 59px #ffffff;
}

form,
input,
textarea,
button {
    font: inherit;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

ul,
li {
    list-style: none;
}


body {
    font-family: 'Jost', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    color: $color-grey-dark;
    font-weight: normal;
    background: $color-white;
    height: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

@import './alert';
@import './login';
@import './feed';
@import './recent';
@import './notifications';
@import './createpost';
@import './settings';
@import './follow-list';
@import './me';