@import './variables';
@import './section';
@import './nav';

.test {
    color: red;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.box-shadow {
    // box-shadow: inset 18px 18px 30px 1px #d1d9e6;
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    box-shadow: 21px 21px 59px #ececec,
        -21px -21px 59px #ffffff;
}

form,
input,
textarea,
button {
    font: inherit;
    border: none;
    outline: none;
}

ul,
li {
    list-style: none;
}


body {
    font-family: 'Jost', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    color: $color-grey-dark;
    font-weight: normal;
    background: $color-white;
    height: 100%;
}

a {
    // color: $color-orange;
    text-decoration: none;
    // font-weight: bold;
    // background: -webkit-linear-gradient($color-orange, $color-red);
    // -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // @include createGradientText;
}

@import './login';
@import './feed';
@import './me';